$green: #5ac84d;
$gray: #383838;
$offwhite: #f0f0f0;
$danger: #820000;

body {
    #root {
        background-color: rgba(0, 0, 0, 0.75);
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;

        .loadingMessage {
            color: $green;
            background-color: $gray;
        }

        .tableContainer {
            table {
                width: 100%;
                text-align: center;
                color: $green;
                background-color: $gray;
                box-shadow: 0 0 10px #222222;
                th {
                    font-weight: 650;
                    padding: 0.35rem;

                }
                td {
                    padding: 0.25rem;
                    transition: display 1s;
                    font-weight: 500;
                }
                input {
                    max-width: 20vw;
                }
            }
            .deletedRow {
                background-color: $danger;
            }
            .btn--cancel,
            .btn--save {
                color: $green;
                background-color: rgba(0,0,0,0);
                font-weight: 550;
                border: 0.15rem solid $green;
                border-radius: 2.5px;
                transition: background-color 0.5s, color 0.5s;
            }
            .btn--cancel:hover,
            .btn--save:hover {
                background-color: $green;
                color: $offwhite;

            }
            .btn--cancel:focus,
            .btn--save:focus {
                border: 0.2rem solid $green;
            }
        }

        .spinner-sm {
            font-size: 0.5rem;
            width: 1rem;
            height: 1rem;
        }
    }
}

.sort::after {
    content: "";

    background-image: url(../images/sort.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 0.85rem;
    height: 0.85rem;
    display: inline-block;
    position: relative;
    left: 0.5rem;
    opacity: 0%;
    transition: opacity 1s;
}
.sort--up::after {
    content: "";

    background-image: url(../images/sort--up.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 0.85rem;
    height: 0.85rem;
    display: inline-block;
    position: relative;
    left: 0.5rem;
    opacity: 0%;
    transition: opacity 1s;
}
.sort--down::after {
    content: "";

    background-image: url(../images/sort--down.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 0.85rem;
    height: 0.85rem;
    display: inline-block;
    position: relative;
    left: 0.5rem;
    opacity: 0%;
    transition: opacity 1s;
}
.addItemRow::before {
    content: "";
    background-image: url(../images/plus--green.png);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;

    width: 0.85rem;
    height: 0.85rem;
    display: inline-block;
    position: relative;
    opacity: 0%;
    transition: opacity 1s;
}
.deleteItemRow::before {
    content: "";

    background-image: url(../images/trash--red.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    margin-top: 0.25rem;
    left: -0.8rem;
    opacity: 100%;
    transition: opacity 1s;
}
.sort:hover {
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.25s;
}
.sort--down:hover {
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.25s;
}
.sort--up:hover {
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.25s;
}
.addItemRow:hover {
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.25s;
}
.deleteItemRow:hover {
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.25s;
}
body:hover {
    .sort::after {
        opacity: 100%;
    }
    .sort--up::after {
        opacity: 100%;
    }
    .sort--down::after {
        opacity: 100%;
    }
    .addItemRow::before {
        opacity: 100%;
    }
}

.userActionRequired {
    border: 0.15rem solid $danger;
    animation: blinking 3s linear infinite;
    animation-delay: 2s;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 1;
    }
}