$green: #5ac84d;
$gray: #383838;
$offwhite: #f0f0f0;
$danger: #820000;

body {
    #root {
        background-color: rgba(0, 0, 0, 0.75);
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;

        .loadingMessage {
            color: $green;
            background-color: $gray;
            box-shadow: 0 0 10px #222222;
            padding: 1.5rem;
        }

        .tableContainer {
            .tableCover {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.75);
                width: 0%;
                height: 100%;
                // -webkit-transition: width 0.3s;
                transition: width 0.3s;
            }
            table {
                width: 100%;
                text-align: center;
                color: $green;
                background-color: $gray;
                box-shadow: 0 0 10px #222222;
                th {
                    font-weight: 650;
                    padding: 0.35rem;
                }
                td {
                    padding: 0.25rem;
                    // -webkit-transition: display 1s;
                    transition: display 1s;
                    font-weight: 500;
                }
                .input {
                    max-width: 20vw;
                }
                @media (min-width: 760px) and (max-width: 992px) {
                    .input.daysLeft {
                        max-width: 10vw;
                    }
                }
                @media (max-width: 760px) {
                    .input.daysLeft {
                        display: none;
                    }
                }

            }
            .deletedRow {
                background-color: $danger;
            }

        }

        .spinner-sm {
            width: 1rem;
            height: 1rem;
        }
        .spinner-md {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.sort::after {
    content: "";

    background-image: url(../images/sort.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 0.85rem;
    height: 0.85rem;
    display: inline-block;
    position: relative;
    left: 0.5rem;
    opacity: 0%;
    // -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.sort--up::after {
    content: "";

    background-image: url(../images/sort--up.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 0.85rem;
    height: 0.85rem;
    display: inline-block;
    position: relative;
    left: 0.5rem;
    opacity: 0%;
    // -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.sort--down::after {
    content: "";

    background-image: url(../images/sort--down.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 0.85rem;
    height: 0.85rem;
    display: inline-block;
    position: relative;
    left: 0.5rem;
    opacity: 0%;
    // -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.addItemRow::before {
    content: "";
    background-image: url(../images/plus--green.png);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;

    width: 0.85rem;
    height: 0.85rem;
    display: inline-block;
    position: relative;
    opacity: 0%;
    // -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.deleteItemRow::before {
    content: "";

    background-image: url(../images/trash--red.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    margin-top: 0.3rem;
    opacity: 100%;
    // -webkit-transition: opacity 1s;
    transition: opacity 1s, right 0.5s, left 0.5s;
}
@media (max-width: 600px) {
    .deleteItemRow::before {
        right: 3rem;
    }
}
@media (max-width: 760px) {
    .deleteItemRow::before {
        right: 4rem;
    }
}
@media (min-width: 760px) and (max-width: 992px) {
    .deleteItemRow::before {
        left: 1.2rem;
    }
}
@media (min-width: 992px) {
    .deleteItemRow::before {
        left: -0.8rem;
    }
}

.sort:hover {
    cursor: pointer;
    opacity: 50%;
    // -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.sort--down:hover {
    cursor: pointer;
    opacity: 50%;
    // -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.sort--up:hover {
    cursor: pointer;
    opacity: 50%;
    // -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.addItemRow:hover {
    cursor: pointer;
    opacity: 50%;
    // -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.deleteItemRow:hover::before,
.deleteItemRowMobile:hover {
    cursor: pointer;
    opacity: 50%;
    // -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

body:hover {
    .sort::after {
        opacity: 100%;
    }
    .sort--up::after {
        opacity: 100%;
    }
    .sort--down::after {
        opacity: 100%;
    }
    .addItemRow::before {
        opacity: 100%;
    }
}
.btn-cust{
    color: $green;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 550;
    border: 0.15rem solid $green;
    border-radius: 2.5px;
    // -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}
.btn-cust:hover {
    background-color: $green;
    color: $offwhite;
}
.btn-cust:focus {
    border: 0.2rem solid $green;
}
.userActionRequired {
    animation: blinking 3s linear infinite;
    animation-delay: 2s;
}
.w-100 {
    width: 100%;
}
.w-0 {
    width: 0%;
}
.h-100 {
    height: 100%;
}
.h-0 {
    height: 0%;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 25%;
    }
    100% {
        opacity: 1;
    }
}
